button.btn-custom {
  cursor: pointer;
  background: none;
  border: 1px solid #666;
  margin: 0 0.2rem;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;

  &:hover {
    color: #eee;
    background: #666;
  }
}
