.result {
  max-width: 350px;
  margin: 1rem auto;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 1rem;

  &-text {
    white-space: pre;
  }
}

.result-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span {
      margin: 0.2rem 0.2rem;
    }
  }
}
.font-1 {
  pre {
    font-family: Monaco, Menlo, Monaco, monospace;
  }
}
.font-2 {
  pre {
    font-family: BlinkMacSystemFont, -apple-system, Roboto;
  }
}
